# Credentials AWS#
DEFAULT_REGION_AWS=region aws
AWS_ACCESS_KEY_ID=aws key id
AWS_SECRET_ACCESS_KEY=aws acces key
LOCALSTACK_AUTH_TOKEN=localstack auth

# sqs
SQS_QUEUE_URL=http://localstack:4566/000000000000/scraping-tasks

# Producer
NUM_MAX_TASKS=num max task for chunk
PRODUCER_PORT=port of producer

# Security
API_KEY=your-secret-api-key
ENABLE_DOCS=false
DEBUG=false
CORS_ALLOWED_ORIGINS=["http://localhost:3000"]

# Localstack
LOCALSTACK_DEBUG=0
