# Credentials AWS#
DEFAULT_REGION_AWS=region aws
AWS_ACCESS_KEY_ID=aws key id
AWS_SECRET_ACCESS_KEY=aws acces key
LOCALSTACK_AUTH_TOKEN=localstack auth

# sqs
SQS_QUEUE_URL=url sqs

# Producer
NUM_MAX_TASKS=num max task for chunk
PRODUCER_PORT=port of producer