# Credentials AWS#
DEFAULT_REGION_AWS=region aws
AWS_ACCESS_KEY_ID=aws key id
AWS_SECRET_ACCESS_KEY=aws acces key

# sqs
SQS_ENDPOINT_URL=http://localstack:4566
SQS_QUEUE_URL=http://localstack:4566/000000000000/scraping-tasks
SQS_REGION=region sqs

# s3
S3_ENDPOINT_URL=http://localstack:4566
S3_BUCKET_NAME=scraping-raw-data
S3_REGION=region s3

# Services Producer and Worker
NUM_MAX_TASKS=num max task for chunk
PRODUCER_PORT=port of producer
PRODUCER_HOST=host of producer
DEBUG_MODE=True or False for debug mode
WORKER_NUM_MAX_CONCURRENT_TASKS=num max concurrent tasks

# Worker Proxy settings
PROXY_ENABLED=False
PROXY_MODE=static_pool or backconnect
PROXY_STATIC_LIST=list of proxies for static_pool mode, separated by commas
PROXY_URL=URL of the proxy for backconnect mode
PROXY_STATIC_CHECK_INTERVAL=30.0
PROXY_STATIC_IDLE_THRESHOLD=180.0
PROXY_MAX_POOL_SIZE=10
PROXY_IDLE_TIMEOUT=300.0
PROXY_MAX_REQUESTS_PER_SESSION=100
PROXY_MIN_REQUESTS_PER_SESSION=10
