apiVersion: v1                                                                                                     
kind: Secret                                                                                                       
metadata:                                                                                                          
  name: scraping-secrets                                                                                           
  namespace: web-scraping-distributed                                                                              
type: Opaque                                                                                                       
stringData:                                                                                                        
  AWS_ACCESS_KEY_ID: "test"                                                                                        
  AWS_SECRET_ACCESS_KEY: "test"                                                                                    
  SQS_ENDPOINT_URL: "url sqs"
  SQS_QUEUE_URL_STATIC: "url sqs"
  SQS_QUEUE_URL_DYNAMIC: "url sqs"
  S3_ENDPOINT_URL: "url s3"
  PROXY_STATIC_LIST: "lista de proxies"
  PROXY_URL: "url proxy"
  DEFAULT_REGION_AWS: "region aws"
  S3_BUCKET_NAME: "bucket s3"
  S3_PREFIX_RAW_DATA: "raw-data"
  S3_PREFIX_COMPACTED_DATA: "compacted-data"