apiVersion: v1                                                                                                     
kind: Secret                                                                                                       
metadata:                                                                                                          
  name: scraping-secrets                                                                                           
  namespace: web-scraping-distributed                                                                              
type: Opaque                                                                                                       
stringData:                                                                                                        
  AWS_ACCESS_KEY_ID: "test"                                                                                        
  AWS_SECRET_ACCESS_KEY: "test"                                                                                    
  SQS_ENDPOINT_URL: "url sqs"
  SQS_QUEUE_URL_STATIC: "url sqs"
  SQS_QUEUE_URL_DYNAMIC: "url sqs"
  S3_ENDPOINT_URL: "http://minio-service.web-scraping-distributed.svc.cluster.local:9000"
  RAW_S3_ACCESS_KEY_ID: "minioadmin"
  RAW_S3_SECRET_ACCESS_KEY: "minioadmin"
  RAW_S3_ENDPOINT_URL: "http://minio-service.web-scraping-distributed.svc.cluster.local:9000"
  RAW_S3_BUCKET_NAME: "scraping-data-lake"
  TARGET_S3_ACCESS_KEY_ID: "clave s3 target"
  TARGET_S3_SECRET_ACCESS_KEY: "secret s3 target"
  TARGET_S3_ENDPOINT_URL: "url target s3"
  TARGET_S3_BUCKET_NAME: "scraping-data-lake"
  PROXY_STATIC_LIST: "lista de proxies"
  PROXY_URL: "url proxy"
  DEFAULT_REGION_AWS: "us-east-1"
  S3_BUCKET_NAME: "scraping-data-lake"
  S3_PREFIX_RAW_DATA: "raw-data"
  S3_PREFIX_COMPACTED_DATA: "compacted-data"
  POSTGRES_USER: "postgres"
  POSTGRES_PASSWORD: "password postgres"